.app {
    border: 2px solid dimgrey ;
    width: 500px;
    height: 250px;
    text-align: center;
    margin: 30px;
}
.top {
    height: 30px;
    background-color: darkslategrey;
    margin-bottom: 40px;
}
.randomNumbers {
    width: 40px;
    height: 40px;
    border: 1px solid darkslategrey;
    border-radius: 50%;
    text-align: center;
}
.container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.some {
    width: 40px;
    height: 40px;
    border: 1px solid darkslategrey;
    border-radius: 50%;
}
p {
    margin-top: 10px;
}
